/*Media Quares*/
/*Celular*/
@media screen and (min-width:360px) {
    header .logo{
        font-size: 30px;
    }

    header nav a{
        font-size: 10px;
    }

    .filme-principal h3{
        font-size: 25px;
    }
}

@media screen and (max-width:950px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}